name: Sync to Hugging Face hub
on:
  push:
    branches: [main]

  # to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      - name: Wipe history and push clean state
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          rm -rf .git
          rm -rf screenshots/
          git init
          git config --global user.email "github-actions@github.com"
          git config --global user.name "github-actions"
          git add .
          git commit -m "Clean deployment to Hugging Face"
          git remote add hf https://ArifAntarctic7:$HF_TOKEN@huggingface.co/spaces/ArifAntarctic7/AI-Sales-Automation-Agent
          git push --force hf master:main
